DATABASE_URL=your_database_url_here
WEBHOOK_URL=your_discord_webhook_url_here
FORM_ID=your_google_form_id_here

# Cloudflare Turnstile
PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key_here
TURNSTILE_SECRET_KEY=your_turnstile_secret_key_here

# Cloudflare R2
R2_ENDPOINT=https://your-account-id.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET=your_r2_bucket_name
R2_PUBLIC_URL=https://your-r2-public-url.com
