body {
    background-color: black;
    margin: 0;
}

.btn{
    padding: 0.75rem 2rem 0.75rem 2rem;
    margin: 0;
    border: 0;
    transition: 0.3s;
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
}

.main-border {
    background-color: rgba(0,0,0,0);
    border: solid 0.1rem white;
    color: white;
}

.btn:hover{
    cursor: pointer;
    text-decoration: underline;
}

h1 {
    font-family: 'Yapari Trial', sans-serif;
    font-weight: 600;
    color: white;
    margin: 0;
}

h2 {
    font-family: 'Yapari Trial', sans-serif;
    font-weight: 600;
    color: white;
    margin: 0;
}

h3 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
}

a {
    color: white
}

p {
    font-family: 'Satoshi';
    color: #8B989C;
    margin: 0;
}

:root{
    font-family: 'Yapari Trial', sans-serif;
    font-family: 'Yapari Variable Trial', sans-serif;
}

